body {
  overflow: hidden;

  
  background: #131813;
  color: #e9f2ea;

  display: grid;
  place-items: center;
}

#container {
  position: relative;
  width: 95vw;
  height: 90vh;
  border: 2px solid rgba(120, 255, 160, 0.35);
  border-radius: 14px;
  background: #232d23;
  box-shadow: 0 16px 40px rgba(0,0,0,0.35);
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#container h1 {
  margin: 0;
  font-size: 22px;
  letter-spacing: 0.4px;
}

main {
  /*height: calc(100% - 7rem);*/
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 5rem;
  align-items: center;
  flex: 1;
}

.profileContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    height: auto;
    width: 60%;
    height: 100%;
    background-color: #232d23;
    border-radius: 25px;
    border: 2px solid rgba(120, 255, 160, 0.35);
}

.tab {
    float: left;
    background-color: #232d23;
    width: 20%;
    border-radius: 25px 0px 0px 25px;
}

.tab button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: rgba(120, 255, 160, 0.65);
}

.tab button.active {
    background-color: rgba(120, 255, 160, 0.35);
}

.tabcontent {
    display: flex;
    flex-direction: column;
    width: 80%;
    color: white;
    padding: 24px 32px;
    text-align: left;
    border-radius: 0px 25px 25px 0px;
    border-left: 2px solid rgba(120, 255, 160, 0.35);
}

.insidetab {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-size:150%;
    padding: 10px 0;
    width: 100%;
    gap: 16px;
    text-align: left;
    margin: 0;
}

.insidetab textarea {
    background-color: #131813;
    color: white;
    text-align: left;
    border-color: #232d23;
    resize: none;
    width: 50%;
    height: 200px;
    border-radius: 10px;
    padding: 5px;
}

.unfollowbutton {
    float: right;
    padding: 5px;
    width: 150px;
    background-color: rgba(40, 220, 110, 0.20);
    color: white;
    border-radius: 12px;
    border-color: rgba(120, 255, 160, 0.45);
    margin-left: 10px; width: 100px;
}

.followbutton {
    float: right;
    padding: 5px;
    width: 150px;
    background-color: rgba(40, 220, 110, 0.20);
    color: white;
    border-radius: 12px;
    border-color: rgba(120, 255, 160, 0.45);
    margin-left: 10px; width: 100px;
}

.insidetab button:hover {
    background-color: rgba(40, 220, 110, 0.30);
}

.friend {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-top: solid 1px rgba(120, 255, 160, 0.45);;
    padding-top: 10px;
    width: 100%;
}

#profile_img {
    border-radius: 50%;
    border: 2px solid rgba(120, 255, 160, 0.65);
    width: 60px;
    float: left;
}

.pfp {
    flex: 1;
}

.username {
    flex: 1;
}


.unfollow {
    flex: 10;
}