footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

footer .footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 4rem;
  box-sizing: border-box;
}

footer .footer-left {
  text-align: left;
}

footer .footer-left img {
  height: 4rem;
}

footer .footer-right {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: left;
}

footer .footer-right ul {
  list-style-type: none;
  color: white;
}

footer .footer-right ul li a {
  color: white;
  text-decoration: none;
  margin: 1rem 0;
  display: block;
}

footer .footer-right ul li a:hover {
  text-decoration: underline;
}