main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center; 
    width: 100vw;
}

.container{
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: auto auto 60%;
}