.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center; 
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.card{
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: auto 50px auto;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
}

.card > div{
    margin-bottom: 15px;
}

.logoLong{
    width: 200px;
    height: min-content;
}

.mid{
    font-size: 20px;
    font-weight: bold;
}

input[type="text"], input[type="password"]{
    outline: none;
    border: 0;
    border-bottom: 1px solid black;
}

.passInner{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
}

.passContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.passInner div{
    width: fit-content;
    margin: 5px;
}